.search {
    display: flex;
    justify-content: right;
}

.search-item__region {
    padding: 10px 5px;
    border: solid;
    border-color: #fff;
    box-shadow: 2px 2px 2px #777;
}

.search-item__genre {
    padding: 10px 5px;
    border-top: solid;
    border-top-color: #fff;
    border-right: solid;
    border-right-color: #fff;
    border-bottom: solid;
    border-bottom-color: #fff;
    border-left: solid;
    border-left-color: #eee;
    box-shadow: 2px 2px 2px #777;
}

.shop {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 15px;
    column-gap: 12px;
}

@media screen and (min-width: 960px) {
    .search-item {
        text-align: right;
        white-space: nowrap;
        width: 50%;
        font-size: 0;
        margin: -35px 15px 15px 0;
    }

    .region-width {
        width: 18%;
    }

    .genre-width {
        width: 20%;
    }

    .shop-content {
        display: flex;
        flex-direction: column;
        width: 24%;
        margin-bottom: 12px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 2px 2px 2px #777;
    }

    .shop-content__name {
        font-weight: bold;
        padding: 15px 0 0 15px;
    }

    .detail-button {
        width: 85px;
        white-space: nowrap;
        color: #fff;
        background-color: #3366FF;
        border-color: #3366FF;
        border-radius: 3px;
        font-size: small;
        cursor: pointer;
    }
}

@media screen and (768px <= width <= 959px) {
    .search-item {
        text-align: right;
        white-space: nowrap;
        width: 70%;
        font-size: 0;
        margin: -35px 15px 15px 0;
    }

    .region-width {
        width: 25%;
    }

    .genre-width {
        width: 25%;
    }

    .shop-content {
        display: flex;
        flex-direction: column;
        width: 32%;
        margin-bottom: 12px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 2px 2px 2px #777;
    }

    .shop-content__name {
        font-size: x-large;
        font-weight: bold;
        padding: 15px 0 0 15px;
    }

    .detail-button {
        width: 110px;
        white-space: nowrap;
        color: #fff;
        background-color: #3366FF;
        border-color: #3366FF;
        border-radius: 3px;
        font-size: large;
        cursor: pointer;
    }
}

@media screen and (max-width: 767px) {
    .shop-gap {
        column-gap: 6px !important;
    }

    .search-item {
        text-align: right;
        white-space: nowrap;
        width: 80%;
        font-size: 0;
        margin: 5px 15px 10px 0;
    }

    .region-width {
        width: 26%;
    }

    .genre-width {
        width: 32%;
    }

    .shop-content {
        display: flex;
        flex-direction: column;
        width: 49%;
        margin-bottom: 12px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 2px 2px 2px #777;
    }

    .shop-content__name {
        font-size: large;
        font-weight: bold;
        padding: 15px 0 0 15px;
    }

    .detail-button {
        color: #fff;
        background-color: #3366FF;
        border-color: #3366FF;
        border-radius: 3px;
        cursor: pointer;
    }
}

.shop-content img {
    border-radius: 5px 5px 0 0;
    align-content: center;
}

.shop-content__detail {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 15px 15px;
}

.shop-img {
    height: 60%;
}
